*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color: rgb(6, 2, 19);
}
nav{
     position: absolute;
     bottom: 573px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    
}
nav a{
    color: rgb(244, 243, 247);
    text-decoration: none;
    border: 2px solid rgb(250, 247, 247);
    padding: 5px;
    margin-right: 25px;
}
.nav a:hover{
    color: rgb(255, 0, 0) !important;
    background-color: rgba(0, 255, 68, 0.611);
}
#log1{
    margin-left: 25px;
    margin-top: 4px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid rgb(0, 0, 0);
    width: 100;
}
.c1{
    margin-left: 44%;
    margin-right: 30%;
    margin-top: 2%;
}